.places__icone {
  display: block;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/places__icone.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}