.profile__edit-button {
  width: 18px;
  height: 18px;
  background-image: url(../../../images/profile__edit-button.svg);
  background-size: 7.5px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
  aspect-ratio: 1 / 1;
  padding: 0;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  top: 8px;
  right: 19px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px;
    top: 18px;
    right: -42px;
  }
}