.places {
  max-width: 282px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .places {
    max-width: 581px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    max-width: 880px;
  }
}