.profile {
  max-width: 320px;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 1280px) {
  .profile {
    max-width: 880px;
    grid-template-columns: 168.75px 1fr 150px;
    align-items: center;
    justify-items: start;
  }
}