.profile {
  max-width: 282px;
  display: grid;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .profile {
    max-width: 581px;
    grid-template-columns: 120px 1fr 150px;
    align-items: center;
    justify-items: start;
    column-gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .profile {
    max-width: 880px;
    column-gap: 30px;
  }
}