.header__logo {
  display: block;
  width: 103.74px;
  height: 24.4px;
  margin-left: 27px;
}

@media screen and (min-width: 1024px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-left: 0;
  }
}