.header {
  min-width: 320px;
  min-height: 56px;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (min-width: 768px) {
  .header {
    min-width: 581px;
    min-height: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    min-width: 880px;
    min-height: 74px;
  }
}