.places__card-bottom {
  display: grid;
  grid-template-columns: 1fr 22px;
  padding: 0 20px 0 21px;
  background-color: #fff;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}