.profile__add-button {
  width: 282px;
  height: 50px;
  background-image: url(../../../images/profile__add-button.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0;
  margin-top: 31px;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    width: 150px;
    margin: 0;
    background-size: 22px;
  }
}