.footer__copyright {
  color: #545454;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 1.22;
  }
}