.popup__close-button {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/popup__close-button.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  aspect-ratio: 1 / 1;
  border: 0;
  padding: 0;
  background-color: transparent;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  top: -36px;
  left: 264px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    left: 438px;
    background-size: 32px;
}
  }