.popup__save-button {
  width: 238px;
  height: 46px;
  background-color: #000;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  padding: 0;
  margin: 45px 0 25px;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .popup__save-button {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
    margin: 50px 0 38px;
  }
}