.popup__edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 322px;
}

@media screen and (min-width: 768px) {
  .popup__edit-form {
    width: 430px;
    height: 330px;
  }
}